.card{
    background-color: #6efa93;
    width: 300px;
    text-align: center;
    border: 1px solid green;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titulocard{
    font-size: 40px;
}

.imagencard{
    width: 100px;
    text-align: center;
}

.preciocard{
    font-size: 30px;
}

.verdetallecard{
    font-size: 15px;
    border-radius: 10%;
    background-color: gainsboro;
    border: 1px solid green;
    
}